@mixin section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
}
@mixin cards-summary {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
